h1{padding-top:100px;font-size:45px;font-weight:bold;line-height:1;margin-bottom:4px;margin-bottom:20px;font-family:"ff-meta-web-pro-condensed", sans-serif}@media (min-width: 46.875em){h1{font-size:60px}}
h2{font-size:20px;font-weight:normal;font-style:italic;line-height:1.3;margin-bottom:-20px;padding-bottom:70px;color:#aaa;font-family:"ff-meta-web-pro-condensed", sans-serif}h3{font-size:22px;font-weight:bold;margin-top:30px;margin-bottom:3px;color:#222;font-family:"ff-meta-web-pro-condensed", sans-serif}@media (min-width: 46.875em){h3{margin-top:40px}}
h4{font-size:18px;font-weight:bold;font-family:"ff-meta-web-pro-condensed", sans-serif}p{font-size:16px;line-height:1.55;margin-bottom:16px}ul{margin-bottom:16px}@media (min-width: 56.25em){ul{margin-bottom:0}}ul li{line-height:1.55;list-style:disc;margin-bottom:2px;list-style-position:inside;font-size:16px}@media (min-width: 35.9375em){ul li{font-size:15px}}ul li:last-child{margin-bottom:0}code{font-family:"Monaco";font-size:12px;color:#666;padding:0 5px;border-radius:3px;border:1px solid #ddd;background-color:#eee}*{box-sizing:border-box}body{color:#333;font-size:100%;background-color:#fdfdfd;border-top:5px solid #111;font-family:"ff-meta-web-pro", "helvetica", sans-serif;height:100%;position:relative}.island{color:#aaa;margin-bottom:10px;*zoom:1}.island:after{content:"";display:table;clear:both}.island h4{color:#666;font-weight:bold}.island__container{padding:10px}.island--dark{background-color:rgba(255,255,255,0.3);border:1px solid rgba(0,0,0,0.3)}.island--light{background-color:rgba(0,0,0,0.09)}.island--secondary{box-sizing:border-box;border:1px dotted #ccc;float:left;width:100%}.island--secondary h4{margin-bottom:3px}.wrapper{padding-left:1.25rem;padding-right:1.25rem;max-width:56.25rem;margin:0 auto}.g__col--1{width:8.333333333333332%}.g__col--2{width:16.666666666666664%}.g__col--3{width:25%}.g__col--4{width:33.33333333333333%}.g__col--5{width:41.66666666666667%}.g__col--6{width:50%}.g__col--7{width:58.333333333333336%}.g__col--8{width:66.66666666666666%}.g__col--9{width:75%}.g__col--10{width:83.33333333333334%}.g__col--11{width:91.66666666666666%}.g__col--12{width:100%}.g__push--left-1{margin-left:-8.333333333333332%}.g__push--left-2{margin-left:-16.666666666666664%}.g__push--right-1{margin-right:-8.333333333333332%}.g__push--right-2{margin-right:-16.666666666666664%}.g__push--both-1{width:116.66666666666666%;margin-left:-8.333333333333332%}.g__push--both-2{width:133.33333333333331%;margin-left:-16.666666666666664%}.g__col.g__align--left{float:left}.g__col.g__align--right{float:right}@media (min-width: 26.5625em){.g__col--1--small{width:8.333333333333332%}}
@media (min-width: 26.5625em){.g__col--2--small{width:16.666666666666664%}}
@media (min-width: 26.5625em){.g__col--3--small{width:25%}}
@media (min-width: 26.5625em){.g__col--4--small{width:33.33333333333333%}}
@media (min-width: 26.5625em){.g__col--5--small{width:41.66666666666667%}}
@media (min-width: 26.5625em){.g__col--6--small{width:50%}}
@media (min-width: 26.5625em){.g__col--7--small{width:58.333333333333336%}}
@media (min-width: 26.5625em){.g__col--8--small{width:66.66666666666666%}}
@media (min-width: 26.5625em){.g__col--9--small{width:75%}}
@media (min-width: 26.5625em){.g__col--10--small{width:83.33333333333334%}}
@media (min-width: 26.5625em){.g__col--11--small{width:91.66666666666666%}}
@media (min-width: 26.5625em){.g__col--12--small{width:100%}}
@media (min-width: 26.5625em){.g__push--left-1--small{margin-left:-8.333333333333332%}}
@media (min-width: 26.5625em){.g__push--left-2--small{margin-left:-16.666666666666664%}}
@media (min-width: 26.5625em){.g__push--right-1--small{margin-right:-8.333333333333332%}}
@media (min-width: 26.5625em){.g__push--right-2--small{margin-right:-16.666666666666664%}}
@media (min-width: 26.5625em){.g__push--both-1--small{width:116.66666666666666%;margin-left:-8.333333333333332%}}
@media (min-width: 26.5625em){.g__push--both-2--small{width:133.33333333333331%;margin-left:-16.666666666666664%}}
@media (min-width: 26.5625em){.g__col.g__align--left--small{float:left}}
@media (min-width: 26.5625em){.g__col.g__align--right--small{float:right}}
@media (min-width: 35.9375em){.g__col--1--medium{width:8.333333333333332%}}
@media (min-width: 35.9375em){.g__col--2--medium{width:16.666666666666664%}}
@media (min-width: 35.9375em){.g__col--3--medium{width:25%}}
@media (min-width: 35.9375em){.g__col--4--medium{width:33.33333333333333%}}
@media (min-width: 35.9375em){.g__col--5--medium{width:41.66666666666667%}}
@media (min-width: 35.9375em){.g__col--6--medium{width:50%}}
@media (min-width: 35.9375em){.g__col--7--medium{width:58.333333333333336%}}
@media (min-width: 35.9375em){.g__col--8--medium{width:66.66666666666666%}}
@media (min-width: 35.9375em){.g__col--9--medium{width:75%}}
@media (min-width: 35.9375em){.g__col--10--medium{width:83.33333333333334%}}
@media (min-width: 35.9375em){.g__col--11--medium{width:91.66666666666666%}}
@media (min-width: 35.9375em){.g__col--12--medium{width:100%}}
@media (min-width: 35.9375em){.g__push--left-1--medium{margin-left:-8.333333333333332%}}
@media (min-width: 35.9375em){.g__push--left-2--medium{margin-left:-16.666666666666664%}}
@media (min-width: 35.9375em){.g__push--right-1--medium{margin-right:-8.333333333333332%}}
@media (min-width: 35.9375em){.g__push--right-2--medium{margin-right:-16.666666666666664%}}
@media (min-width: 35.9375em){.g__push--both-1--medium{width:116.66666666666666%;margin-left:-8.333333333333332%}}
@media (min-width: 35.9375em){.g__push--both-2--medium{width:133.33333333333331%;margin-left:-16.666666666666664%}}
@media (min-width: 35.9375em){.g__col.g__align--left--medium{float:left}}
@media (min-width: 35.9375em){.g__col.g__align--right--medium{float:right}}
@media (min-width: 46.875em){.g__col--1--large{width:8.333333333333332%}}
@media (min-width: 46.875em){.g__col--2--large{width:16.666666666666664%}}
@media (min-width: 46.875em){.g__col--3--large{width:25%}}
@media (min-width: 46.875em){.g__col--4--large{width:33.33333333333333%}}
@media (min-width: 46.875em){.g__col--5--large{width:41.66666666666667%}}
@media (min-width: 46.875em){.g__col--6--large{width:50%}}
@media (min-width: 46.875em){.g__col--7--large{width:58.333333333333336%}}
@media (min-width: 46.875em){.g__col--8--large{width:66.66666666666666%}}
@media (min-width: 46.875em){.g__col--9--large{width:75%}}
@media (min-width: 46.875em){.g__col--10--large{width:83.33333333333334%}}
@media (min-width: 46.875em){.g__col--11--large{width:91.66666666666666%}}
@media (min-width: 46.875em){.g__col--12--large{width:100%}}
@media (min-width: 46.875em){.g__push--left-1--large{margin-left:-8.333333333333332%}}
@media (min-width: 46.875em){.g__push--left-2--large{margin-left:-16.666666666666664%}}
@media (min-width: 46.875em){.g__push--right-1--large{margin-right:-8.333333333333332%}}
@media (min-width: 46.875em){.g__push--right-2--large{margin-right:-16.666666666666664%}}
@media (min-width: 46.875em){.g__push--both-1--large{width:116.66666666666666%;margin-left:-8.333333333333332%}}
@media (min-width: 46.875em){.g__push--both-2--large{width:133.33333333333331%;margin-left:-16.666666666666664%}}
@media (min-width: 46.875em){.g__col.g__align--left--large{float:left}}
@media (min-width: 46.875em){.g__col.g__align--right--large{float:right}}
@media (min-width: 56.25em){.g__col--1--largest{width:8.333333333333332%}}
@media (min-width: 56.25em){.g__col--2--largest{width:16.666666666666664%}}
@media (min-width: 56.25em){.g__col--3--largest{width:25%}}
@media (min-width: 56.25em){.g__col--4--largest{width:33.33333333333333%}}
@media (min-width: 56.25em){.g__col--5--largest{width:41.66666666666667%}}
@media (min-width: 56.25em){.g__col--6--largest{width:50%}}
@media (min-width: 56.25em){.g__col--7--largest{width:58.333333333333336%}}
@media (min-width: 56.25em){.g__col--8--largest{width:66.66666666666666%}}
@media (min-width: 56.25em){.g__col--9--largest{width:75%}}
@media (min-width: 56.25em){.g__col--10--largest{width:83.33333333333334%}}
@media (min-width: 56.25em){.g__col--11--largest{width:91.66666666666666%}}
@media (min-width: 56.25em){.g__col--12--largest{width:100%}}
@media (min-width: 56.25em){.g__col--13--largest{width:108.33333333333333%}}
@media (min-width: 56.25em){.g__col--14--largest{width:116.66666666666667%}}
@media (min-width: 56.25em){.g__push--left-1--largest{margin-left:-8.333333333333332%}}
@media (min-width: 56.25em){.g__push--left-2--largest{margin-left:-16.666666666666664%}}
@media (min-width: 56.25em){.g__push--right-1--largest{margin-right:-8.333333333333332%}}
@media (min-width: 56.25em){.g__push--right-2--largest{margin-right:-16.666666666666664%}}
@media (min-width: 56.25em){.g__push--both-1--largest{width:116.66666666666666%;margin-left:-8.333333333333332%}}
@media (min-width: 56.25em){.g__push--both-2--largest{width:133.33333333333331%;margin-left:-16.666666666666664%}}
@media (min-width: 56.25em){.g__col.g__align--left--largest{float:left}}
@media (min-width: 56.25em){.g__col.g__align--right--largest{float:right}}
.g--overlay{height:100%;bottom:0;top:0}.g--overlay .cell{background-color:red;float:left;width:100%}.g{*zoom:1;display:block;position:relative;margin-right:-0.9375rem;clear:both}.g:after{content:"";display:table;clear:both}@media (min-width: 46.875em){.g{margin-right:-1.5625rem}}
.g__col{padding-right:0.9375rem;float:left}@media (min-width: 46.875em){.g__col{padding-right:1.5625rem}}
.g__col--center{float:none;margin:0 auto}.cell{-moz-box-sizing:border-box;box-sizing:border-box;background-color:rgba(0,0,0,0.1);opacity:.5;border:1px solid #999;color:black;line-height:1.4;font-family:monaco;font-size:12px;margin-bottom:0.9375rem;padding-top:0.9375rem;padding-bottom:0.9375rem;display:block;clear:both}
