/* ==========================================================================
   $SCREEN
   ========================================================================== */
/**
 * Imports all of the various dependencies and objects, exporting them into a 
 * CSS file with the `compass watch` command in terminal.
 */
/* 
   $CONTENTS
   ========================================================================== */
/**
 * 1. Third party dependencies.
 * 2. Global variables and configuration settings.
 * 3. Utilities such as mixins and functions.
 * 4. Quarks: default styles for standard markup elements.
 * 5. Atoms: CSS objects and relationships.
 */
/* 
   1.THIRD PARTY DEPENDENCIES
   ========================================================================== */
/* 
   4.QUARKS
   ========================================================================== */
/**
 * Default styling of plain HTML elements such as html, body, p tags etc.
 */
/* ==========================================================================
   $ FONT SIZES
   ========================================================================== */
/**
 * Sets initial font-sizes. 
 * 
 * This is only an example type stylesheet to show off the grid module.
 */
/* line 11, ../patterns/quarks/_font-size.scss */
h1 {
  padding-top: 100px;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 4px;
  margin-bottom: 20px;
  font-family: "ff-meta-web-pro-condensed", sans-serif;
}
@media (min-width: 46.875em) {
  /* line 11, ../patterns/quarks/_font-size.scss */
  h1 {
    font-size: 60px;
  }
}

/* line 25, ../patterns/quarks/_font-size.scss */
h2 {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: -20px;
  padding-bottom: 70px;
  color: #aaa;
  font-family: "ff-meta-web-pro-condensed", sans-serif;
}

/* line 36, ../patterns/quarks/_font-size.scss */
h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 3px;
  color: #222;
  font-family: "ff-meta-web-pro-condensed", sans-serif;
}
@media (min-width: 46.875em) {
  /* line 36, ../patterns/quarks/_font-size.scss */
  h3 {
    margin-top: 40px;
  }
}

/* line 49, ../patterns/quarks/_font-size.scss */
h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: "ff-meta-web-pro-condensed", sans-serif;
}

/* line 55, ../patterns/quarks/_font-size.scss */
p {
  font-size: 16px;
  line-height: 1.55;
  margin-bottom: 16px;
}

/* line 61, ../patterns/quarks/_font-size.scss */
ul {
  margin-bottom: 16px;
}
@media (min-width: 56.25em) {
  /* line 61, ../patterns/quarks/_font-size.scss */
  ul {
    margin-bottom: 0;
  }
}
/* line 68, ../patterns/quarks/_font-size.scss */
ul li {
  line-height: 1.55;
  list-style: disc;
  margin-bottom: 2px;
  list-style-position: inside;
  font-size: 16px;
}
@media (min-width: 35.9375em) {
  /* line 68, ../patterns/quarks/_font-size.scss */
  ul li {
    font-size: 15px;
  }
}
/* line 79, ../patterns/quarks/_font-size.scss */
ul li:last-child {
  margin-bottom: 0;
}

/* line 85, ../patterns/quarks/_font-size.scss */
code {
  font-family: "Monaco";
  font-size: 12px;
  color: #666;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #eee;
}

/* ==========================================================================
   $MAIN
   ========================================================================== */
/**
 * Default styles for the body and html class.
 */
/* line 9, ../patterns/quarks/_main.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../patterns/quarks/_main.scss */
body {
  color: #333;
  font-size: 100%;
  background-color: #fdfdfd;
  border-top: 5px solid #111;
  font-family: "ff-meta-web-pro", "helvetica", sans-serif;
  height: 100%;
  position: relative;
}

/**
 * Testing island for showing how nested grids work, remove
 * this before production.
 */
/* line 31, ../patterns/quarks/_main.scss */
.island {
  color: #aaa;
  margin-bottom: 10px;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p448@patterns-grid/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
.island:after {
  content: "";
  display: table;
  clear: both;
}
/* line 36, ../patterns/quarks/_main.scss */
.island h4 {
  color: #666;
  font-weight: bold;
}

/* line 42, ../patterns/quarks/_main.scss */
.island__container {
  padding: 10px;
}

/* line 46, ../patterns/quarks/_main.scss */
.island--dark {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 51, ../patterns/quarks/_main.scss */
.island--light {
  background-color: rgba(0, 0, 0, 0.09);
}

/* line 56, ../patterns/quarks/_main.scss */
.island--secondary {
  box-sizing: border-box;
  border: 1px dotted #ccc;
  float: left;
  width: 100%;
}
/* line 62, ../patterns/quarks/_main.scss */
.island--secondary h4 {
  margin-bottom: 3px;
}

/* line 68, ../patterns/quarks/_main.scss */
.wrapper {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 56.25rem;
  margin: 0 auto;
}

/* 
   5.ATOMS
   ========================================================================== */
/**
 * CSS objects
 */
/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--1 {
  width: 8.333333333333332%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--2 {
  width: 16.666666666666664%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--3 {
  width: 25%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--4 {
  width: 33.33333333333333%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--5 {
  width: 41.66666666666667%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--6 {
  width: 50%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--7 {
  width: 58.333333333333336%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--8 {
  width: 66.66666666666666%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--9 {
  width: 75%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--10 {
  width: 83.33333333333334%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--11 {
  width: 91.66666666666666%;
}

/* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col--12 {
  width: 100%;
}

/* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__push--left-1 {
  margin-left: -8.333333333333332%;
}

/* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__push--left-2 {
  margin-left: -16.666666666666664%;
}

/* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__push--right-1 {
  margin-right: -8.333333333333332%;
}

/* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__push--right-2 {
  margin-right: -16.666666666666664%;
}

/* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__push--both-1 {
  width: 116.66666666666666%;
  margin-left: -8.333333333333332%;
}

/* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__push--both-2 {
  width: 133.33333333333331%;
  margin-left: -16.666666666666664%;
}

/* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col.g__align--left {
  float: left;
}

/* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
.g__col.g__align--right {
  float: right;
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--1--small {
    width: 8.333333333333332%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--2--small {
    width: 16.666666666666664%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--3--small {
    width: 25%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--4--small {
    width: 33.33333333333333%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--5--small {
    width: 41.66666666666667%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--6--small {
    width: 50%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--7--small {
    width: 58.333333333333336%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--8--small {
    width: 66.66666666666666%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--9--small {
    width: 75%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--10--small {
    width: 83.33333333333334%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--11--small {
    width: 91.66666666666666%;
  }
}

@media (min-width: 26.5625em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--12--small {
    width: 100%;
  }
}

@media (min-width: 26.5625em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-1--small {
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 26.5625em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-2--small {
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 26.5625em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-1--small {
    margin-right: -8.333333333333332%;
  }
}

@media (min-width: 26.5625em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-2--small {
    margin-right: -16.666666666666664%;
  }
}

@media (min-width: 26.5625em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-1--small {
    width: 116.66666666666666%;
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 26.5625em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-2--small {
    width: 133.33333333333331%;
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 26.5625em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--left--small {
    float: left;
  }
}

@media (min-width: 26.5625em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--right--small {
    float: right;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--1--medium {
    width: 8.333333333333332%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--2--medium {
    width: 16.666666666666664%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--3--medium {
    width: 25%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--4--medium {
    width: 33.33333333333333%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--5--medium {
    width: 41.66666666666667%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--6--medium {
    width: 50%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--7--medium {
    width: 58.333333333333336%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--8--medium {
    width: 66.66666666666666%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--9--medium {
    width: 75%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--10--medium {
    width: 83.33333333333334%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--11--medium {
    width: 91.66666666666666%;
  }
}

@media (min-width: 35.9375em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--12--medium {
    width: 100%;
  }
}

@media (min-width: 35.9375em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-1--medium {
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 35.9375em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-2--medium {
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 35.9375em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-1--medium {
    margin-right: -8.333333333333332%;
  }
}

@media (min-width: 35.9375em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-2--medium {
    margin-right: -16.666666666666664%;
  }
}

@media (min-width: 35.9375em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-1--medium {
    width: 116.66666666666666%;
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 35.9375em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-2--medium {
    width: 133.33333333333331%;
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 35.9375em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--left--medium {
    float: left;
  }
}

@media (min-width: 35.9375em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--right--medium {
    float: right;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--1--large {
    width: 8.333333333333332%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--2--large {
    width: 16.666666666666664%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--3--large {
    width: 25%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--4--large {
    width: 33.33333333333333%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--5--large {
    width: 41.66666666666667%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--6--large {
    width: 50%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--7--large {
    width: 58.333333333333336%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--8--large {
    width: 66.66666666666666%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--9--large {
    width: 75%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--10--large {
    width: 83.33333333333334%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--11--large {
    width: 91.66666666666666%;
  }
}

@media (min-width: 46.875em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--12--large {
    width: 100%;
  }
}

@media (min-width: 46.875em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-1--large {
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 46.875em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-2--large {
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 46.875em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-1--large {
    margin-right: -8.333333333333332%;
  }
}

@media (min-width: 46.875em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-2--large {
    margin-right: -16.666666666666664%;
  }
}

@media (min-width: 46.875em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-1--large {
    width: 116.66666666666666%;
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 46.875em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-2--large {
    width: 133.33333333333331%;
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 46.875em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--left--large {
    float: left;
  }
}

@media (min-width: 46.875em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--right--large {
    float: right;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--1--largest {
    width: 8.333333333333332%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--2--largest {
    width: 16.666666666666664%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--3--largest {
    width: 25%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--4--largest {
    width: 33.33333333333333%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--5--largest {
    width: 41.66666666666667%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--6--largest {
    width: 50%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--7--largest {
    width: 58.333333333333336%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--8--largest {
    width: 66.66666666666666%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--9--largest {
    width: 75%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--10--largest {
    width: 83.33333333333334%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--11--largest {
    width: 91.66666666666666%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--12--largest {
    width: 100%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--13--largest {
    width: 108.33333333333333%;
  }
}

@media (min-width: 56.25em) {
  /* line 99, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col--14--largest {
    width: 116.66666666666667%;
  }
}

@media (min-width: 56.25em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-1--largest {
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 56.25em) {
  /* line 109, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--left-2--largest {
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 56.25em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-1--largest {
    margin-right: -8.333333333333332%;
  }
}

@media (min-width: 56.25em) {
  /* line 120, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--right-2--largest {
    margin-right: -16.666666666666664%;
  }
}

@media (min-width: 56.25em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-1--largest {
    width: 116.66666666666666%;
    margin-left: -8.333333333333332%;
  }
}

@media (min-width: 56.25em) {
  /* line 131, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__push--both-2--largest {
    width: 133.33333333333331%;
    margin-left: -16.666666666666664%;
  }
}

@media (min-width: 56.25em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--left--largest {
    float: left;
  }
}

@media (min-width: 56.25em) {
  /* line 142, ../patterns/atoms/grids/includes/utils/_grids-build.scss */
  .g__col.g__align--right--largest {
    float: right;
  }
}

/* line 56, ../patterns/atoms/grids/_grids.scss */
.g--overlay {
  height: 100%;
  bottom: 0;
  top: 0;
}
/* line 61, ../patterns/atoms/grids/_grids.scss */
.g--overlay .cell {
  background-color: red;
  float: left;
  width: 100%;
}

/* line 68, ../patterns/atoms/grids/_grids.scss */
.g {
  *zoom: 1;
  /* [1] */
  display: block;
  position: relative;
  margin-right: -0.9375rem;
  /* [1] */
  clear: both;
  /* [2] */
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p448@patterns-grid/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/general/_clearfix.scss */
.g:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 46.875em) {
  /* line 68, ../patterns/atoms/grids/_grids.scss */
  .g {
    margin-right: -1.5625rem;
    /* [2] */
  }
}

/* line 86, ../patterns/atoms/grids/_grids.scss */
.g__col {
  padding-right: 0.9375rem;
  /* [3] */
  float: left;
}
@media (min-width: 46.875em) {
  /* line 86, ../patterns/atoms/grids/_grids.scss */
  .g__col {
    padding-right: 1.5625rem;
    /* [4] */
  }
}

/* line 96, ../patterns/atoms/grids/_grids.scss */
.g__col--center {
  float: none;
  margin: 0 auto;
}

/* line 103, ../patterns/atoms/grids/_grids.scss */
.cell {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: .5;
  border: 1px solid #999;
  color: black;
  line-height: 1.4;
  font-family: monaco;
  font-size: 12px;
  margin-bottom: 0.9375rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  display: block;
  clear: both;
}
