/* ==========================================================================
   MIXINS
   ========================================================================== */


@function calc-rem($target, $context: 16) {
    $value: ($target / $context) * 1rem;
    @if abs($value) == 0 {
        @return 0;
    }
    @else {
        @return $value;
    }
}



@mixin rems($selector, $sizes...) {
        $pxValues: '';
        $remValues: '';
        $max: length($sizes);

        // if this is just a single zero value we can bail early
        @if ($max == 1) and (nth($sizes, 1) == 0){
            #{$selector}: 0;
        }
        @else {
            @for $i from 1 through $max {
                @if abs(nth($sizes, $i)) == 0 {
                    $pxValues: #{$pxValues + nth($sizes, $i)};
                }@else {
                    $pxValues: #{$pxValues + nth($sizes, $i)}px;
                }
                @if $i < $max {
                    $pxValues: #{$pxValues + " "};
                }
            }

            @for $i from 1 through $max {
                $remValues: #{$remValues + calc-rem(nth($sizes, $i))};

                @if $i < $max {
                    $remValues: #{$remValues + " "};
                }
            }
            #{$selector}: $pxValues;
            #{$selector}: $remValues;
        }
}