/* ==========================================================================
   $GLOBAL-CONFIG
   ========================================================================== */
/**
 * Sets global variables that can be used throughout the site.
 */


/* 
   $CONTENTS
   ========================================================================== */
/**
 * 1. Sizes
 * 2. Breakpoint
 */


/*
 * 1.SIZES
 */

$width__small: 400px;
$width__medium: 500px;
$width__large: 800px;
$width__largest: 1150px;



/*
 * 2.BREAKPOINT
 */

$breakpoint-to-ems: true;

$no-queries: 'no-query' true;

$breakpoints: 'below small' (max-width $width__small - 1px, $no-queries),
              'small and above' ($width__small, $no-queries),
              'below medium' (max-width $width__medium - 1px, $no-queries),
              'medium and above' ($width__medium, $no-queries),
              'between medium and large' ($width__medium $width__large),
              'below large' (max-width $width__large - 1px, $no-queries),
              'large and above' ($width__large, $no-queries),
              'between large and largest' ($width__large $width__largest),
              'largest only' ($width__largest, $no-queries),
              'high resolution' (min-resolution 1.5dppx, false),
              'landscape' (orientation landscape),
              'portrait' (orientation portrait);

