/* ==========================================================================
   $MAIN
   ========================================================================== */
/**
 * Default styles for the body and html class.
 */


* {
    box-sizing: border-box;
}

body {

    color: #333;
    font-size: 100%;
    background-color: #fdfdfd;
    border-top: 5px solid #111;
    font-family: "Helvetica";
    height: 100%;
    position: relative;
}



/**
 * Testing island for showing how nested grids work, remove
 * this before production.
 */

.island {
    color: #aaa;
    margin-bottom: 10px;
    @include pie-clearfix();

    h4 {
        color: #666;
        font-weight: bold;
    }
}

.island__container {
    padding: 10px;
}

.island--dark {
    background-color: rgba(255,255,255,.3);
    border: 1px solid rgba(0,0,0,.3);
}

.island--light {
    background-color: rgba(0,0,0,.09);
}


.island--secondary {
    box-sizing: border-box;
    border: 1px dotted #ccc;
    float: left;
    width: 100%;

    h4 {
        margin-bottom: 3px;
    }
}


.wrapper {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    max-width: rem-calc(900);
    margin: 0 auto;
}
