/* ==========================================================================
   $MAIN
   ========================================================================== */
/**
 * Default styles for the body and html class.
 */

body {
	position: relative;
	color: #333;
	padding-top: 20px;
}