/* ==========================================================================
   $GRID--OVERLAY
   ========================================================================== */
/**
 * A tool for automatically creating an overlay based on our default breakpoints 
 */


/* 
   $MARKUP
   ========================================================================== */
/**
 * <div class="grid--overlay">
 *  @grid module
 * </div>
 */


/* 
   $MODULE DEPENDENCIES
   ========================================================================== */
/**
 * 1. Probably the toggler script.
 * 2. grid__column generator script.
 */

/* 
   $OVERLAY
   ========================================================================== */
/**
 * 1. Requires relative position on the body element.
 */



/**
 * GRID OVERLAY ACTIVATE
 * 
 * 1. Adds the number of columns to the pseudo element so that we can 
 * automatically create the number of div columns we need with JS.
 */

body:after {
    content: string($columns); /* [1] */
    display: none;
}
    
    /**
     * Attach this class to the body element and then change the color of the test cells within
     */
    .grid--overlay--active {
        .cell {
            background-color: rgba(255,255,255, 0.7);
            opacity: .6;
        }   
    }

/**
 * GRID OVERLAY
 * 
 * 1. Hide the overlay by default.
 * 2. Position the overlay over the page.
 * 3. Once the grid overlay class is active, display the overlay.
 */

.grid--overlay {
    display: none; /* [1] */
    position: absolute; /* [2] */
    top: 0; /* [2] */
    left: 0; /* [2] */
    height: 100%; 
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;

   .grid--overlay--active & {
        display: block; /* [3] */
    }

    .grid--overlay__cell {
        border: none;
        height: 9999px;
        opacity: .3;
        @include responsive-grid-color($overlay-color-collection);
    }
}


    






