/* ==========================================================================
   $GRID--OVERLAY
   ========================================================================== */
/**
 * A tool for automatically creating an overlay based on our default breakpoints 
 */


/* 
   $MARKUP
   ========================================================================== */
/**
 * <div class="grid--overlay">
 *  @grid module
 * </div>
 */


/* 
   $MODULE DEPENDENCIES
   ========================================================================== */
/**
 * 1. Probably the toggler script.
 * 2. grid__column generator script.
 */

/* 
   $OVERLAY
   ========================================================================== */
/**
 * 1. Requires relative position on the body element.
 */



/**
 * Adds the number of strings to the pseudo element so that we can 
 * automatically generate the number of columns with JS.
 */
.grid--overlay-active {
    &:after {
        content: string($columns);
    }
}


.grid--overlay {
    position: absolute; /* [1] */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}
    
    .grid--overlay__cell {
        border: none;
        height: 9999px;
        opacity: .3;
        @include responsive-grid-color($overlay-color-collection);
    }








