/* ==========================================================================
   $GRID__SETTINGS
   ========================================================================== */
/**
 * All of the various options and defaults necessary for the grid
 */

/* Default gutter size */ 
$gutter: 10px;

/* Set number of columns */
$columns: 10;


$grid__levels: small, medium, large, largest;

$overlay-color-collection: (#99CCFF, #D5F0CC, #F0F099, #FFCC99, #FFCCCC);